<a href="https://colab.research.google.com/github/kchenTTP/sql-intro/blob/main/Intro_to_SQL_Starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Intro to SQL**

Structured Query Language (SQL) is a domain-specific programming language that allow us to store, retrieve, and manipulate data in structured relational databases.

---

## **Keyword Definition**

**Structured Data**: Data that has a predefined format (schema or data model) and fits neatly into a tabular structure. It is organized and easy to store, process, and analyze using traditional database systems.
  - Databases
  - Spreadsheet

**Database**: A structured collection of data organized and managed in a specific way.

**Table**: A collection of related data organized in rows and columns.

**Relationship**: An association between tables based on common attributes, such as `primary key` and `foreign keys`.

**Primary Key**: A unique identifier for each row in a table, used to ensure data integrity and establish relationships with other tables.

**Foreign Key**: A column that refers to the primary key of another table, establishing a relationship between the two tables.

---

## **Preparing Our Workspace**

Since SQL is a language working with databases. To write SQL, we will typically need a **database management system** and a **SQL client**.

### *Database Management System (DBMS)*

A software system that provides tools and services to manage databases. There are several different database management systems out there and we sometimes refer to them as different SQL flavors or dialects. The most popular SQL dialects are:
  - MySQL
  - PostgreSQL
  - SQLite
  - Microsoft SQL Server

> üí° In our case, we will be working with a database file _(chinook.db)_ using SQLite.

In [36]:
# Let's download our example database for today's class
from googledrivedownloader import download_file_from_google_drive

download_file_from_google_drive(file_id="1igkJ1wewLPKd8WJLlrqmdtVKfBXKR_-l", dest_path="./chinook.db")

Downloading 1igkJ1wewLPKd8WJLlrqmdtVKfBXKR_-l into ./chinook.db... Done.

### *SQL Client*

A tool or interface that allows you to connect to a DBMS and execute SQL queries. This can be a command-line interface (CLI), a graphical user interface (GUI), a web-based interface, or some code.

#### *Setup Helper Functions*

Since we're using Python as our SQL client, let's set up some helper functions.

- **`show_tables`**: Show all table names in database
- **`show_table_info`**: Show column information of a table
- **`query`**: Query the database

> ‚ùó Run this cell to set up sqlite helper functions!

In [30]:
import sqlite3
from IPython.display import display, HTML
import pandas as pd


def query(sql_query: str, db: str = "chinook.db"):
  with sqlite3.connect(db) as conn:
    cursor = conn.cursor()

    cursor.execute(sql_query)

    results = cursor.fetchall()
    column_names = [description[0] for description in cursor.description]
    df = pd.DataFrame(results, columns=column_names)

    display(HTML(df.to_html(index=False)))

def show_tables(db: str = "chinook.db"):
  sql = "SELECT name as table_name FROM sqlite_master WHERE type='table' AND name not in ('sqlite_sequence', 'sqlite_stat1');"
  query(sql, db)

def show_table_info(table_name: str, db: str = "chinook.db"):
  sql = f"PRAGMA table_info({table_name});"
  query(sql, db)

### Explore the Database

In [37]:
# Look at the tables in the database
show_tables()

In [12]:
# Change the name to any other table to look at the column names and info of that table
show_table_info("customers")

---

## **SQL Keywords**

### `SELECT`

Which columns in a table to select, required keyword when performing queries.

> Note: Use special character _**`*`**_ to select every column.

In [2]:
sql = "select 1.0 / 2;"
query(sql)

### `FROM`

From which table we are selecting the columns.

In [9]:
sql = "select * from genres;"
query(sql)

### `AS`

Use `AS` to create aliases for columns.

**Syntax:**
```
SELECT column1 AS alias1, column2 AS alias2
FROM table;
```

In [14]:
sql = """select InvoiceDate as Date, BillingCountry as Country, Total
from invoices;"""
query(sql)

### `DISTINCT`

Removes duplicate rows from the result, leaving only unique values.

**Syntax:**
```
SELECT DISTINCT column1, column2, ...
FROM table;
```

In [17]:
sql = """select distinct
BillingCountry, BillingCity
from invoices;"""
query(sql)

### Try it yourself!

**Excercise**:

> _1. Check out columns `CustomerId`, `FirstName`, `Country` from the `customers` table._  
> _2. Give `CustomerId` an alias called `Id`._

In [ ]:
sql = """your code goes here"""
query(sql)

In [ ]:
#@title Answer
sql = """select
  CustomerId as Id,
  FirstName as Name,
  Country
from customers;"""
query(sql)

---

## **Clauses**

Clauses provide additional instructions to specify various conditions, constraints, or operations within an SQL statement to modify the behavior of the query.

### `WHERE`

Filter records based on specified **conditions**. We use comparison operators to define the **condition**:

> ### _Comparison Operators_
> - `=`   Equal to
> - `<`   Less than
> - `>`   Greater than
> - `<>`  Not equal to
> - `<=`  Less than or equal to
> - `>=`  Greater than or equal to

**Syntax:**
```
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

**Only show invoices from Germany**

In [19]:
sql = """select
    InvoiceDate,
    BillingCountry,
    BillingCity
from invoices
where BillingCountry = 'Germany';"""
query(sql)

### `AND`/ `OR`

Use `AND` and `OR` to add more conditions to your queries.

**Syntax:**
```
condition1 AND condition2
```

**Show invoices from Germany but not from Berlin**

In [20]:
sql = """select
    InvoiceDate,
    BillingCountry,
    BillingCity
from invoices
where BillingCountry = 'Germany' OR BillingCity <> 'Berlin';
"""
query(sql)

### `BETWEEN`
Used to specify a range of values for comparison.

**Syntax:**
```
column_name BETWEEN value1 AND value2
```

**Show album sales between 2010 and 2012**

In [21]:
sql = """select date(InvoiceDate) as Date, CustomerId, Total
from invoices
where date(InvoiceDate) between '2010' AND '2012';"""
query(sql)

### `IN`

Allows you to match a column's value against a list of specified values.

**Syntax:**
```
column_name IN (value1, value2, ...)
```

**Find employees who are in manager positions**

In [23]:
sql = """select
    FirstName || ' ' || LastName as name,
    Title
from employees
where Title in ('General Manager', 'Sales Manager', 'IT Manager');"""
# where Title LIKE '% Manager';
query(sql)

### _Functions_

Functions are pre-defined operations that perform specific computations or transformations on data.

#### [**`date(timestring, [modifiters], [...])`**](https://www.sqlitetutorial.net/sqlite-date-functions/sqlite-date-function/)
The `date()` function accepts a time string and zero or more modifiers as arguments. It returns a date string in this format: **`YYYY-MM-DD`**.

#### [**`string1 || string2`**](https://www.sqlitetutorial.net/sqlite-string-functions/sqlite-concat/)
Concatenate two strings into a single string. Can be chained together to concatenate more than 2 strings.

### Try it yourself!

**Excercise**:

**_Find invoices from USA or Canada where the total amount spent is greater than $8_**
> _Show  **`InvoiceId`**, **`InvoiceDate`**, **`BillingCountry`**, **`Total`**  columns from the **`invoices`** table._

In [ ]:
sql = """your code goes here"""
query(sql)

In [ ]:
#@title Answer
sql = """select InvoiceId, InvoiceDate, BillingCountry, Total
from invoices
where BillingCountry in ('USA', 'Canada') and Total > 8;"""
query(sql)

---
### `GROUP BY`

Group rows based on one or more columns into subgroups. Typically used in conjunction with **_aggregate functions_** to perform calculations or summary operations on groups of rows.

**Syntax:**
```
SELECT column1, column2, ..., aggregate_function(column)
FROM table_name
GROUP BY column1, column2, ...;
```

### _Aggregate Functions_
Functions that operate on a set of rows and calculate a single value as the result.

#### `COUNT(column)`

Counts the number of rows in a column.

**Count the number of employees in different titles**

In [25]:
sql = """select
    Title,
    count(*) as Number
from employees
group by Title;"""
query(sql)

#### `SUM(column)`

Sums up the numerical values in a column.

**Show yearly sale numbers**

In [26]:
sql = """select
    strftime('%Y', InvoiceDate) as year,
    sum(Total) as total
from invoices
group by year;"""
query(sql)

### `ORDER BY`

Change the order of appearance.

**Syntax:**
```
ORDER BY column sorting_order
```

> - **sorting_order**:
>   - **ASC**: Ascending order
>   - **DESC**: Descending order

### `LIMIT`

Limit the amount of output to the specified number.

**Syntax:**
```
LIMIT number
```

In [27]:
sql = """select Name
from artists
order by name desc
limit 10;"""
query(sql)

### Try it yourself!

**Excercise 1**:

**_Find top 10 artists that have the most amount of tracks_**
> _1. Show the `Composer` and the number of tracks they have._  
> _2. Remove `NULL` values._
>
> _Hint: Use the `tracks` table._

In [ ]:
sql = """your code goes here"""
query(sql)

In [ ]:
#@title Answer
sql = """select Composer, count(*) as n_tracks
from tracks
where Composer is not null
group by Composer
order by n_tracks desc
limit 10;"""
query(sql)

**Excercise 2**:

**_Find artists that have the top 10 longest track_**
> _1. Show the `Composer` and the length of their longest track tracks (`Milliseconds`)._  
> _2. Remove `NULL` values._
>
> _Hint: Use the `tracks` table._

In [ ]:
sql = """your code goes here"""
query(sql)

In [ ]:
#@title Answer
sql = """select Composer, max(Milliseconds) as Milliseconds
from tracks
where Composer is not null
group by Composer
order by Milliseconds desc
limit 10;"""
query(sql)

---

## **Joins**

Joins are used to combine rows from two tables based on related columns that has **matching values**. Commonly, joins are performed when there is a relationship between tables, such as a **primary key** in one table that corresponds to a **foreign key** in another table.

### _Join Condition_

By specifying the columns used to link the tables, or the _**join condition**_, you can create a result set that includes data from multiple tables as per the defined relationship.

<br>

<figure align="center">
  <img src="https://raw.githubusercontent.com/kchenTTP/sql-intro/refs/heads/main/assets/sql-joins.jpg" alt="SQL Joins" />
  <figcaption>The 4 kinds of SQL Joins<figcaption>
</figure>

### `INNER JOIN`

Returns only the rows that have matching values in both tables.

**Syntax:**
```
SELECT t1.column1, t2.column2
FROM table1 t1
INNER JOIN table2 t2 ON t1.id = t2.id;
```

**Show customers that have spent the most amount of money**

In [31]:
sql = """select
    c.FirstName || ' ' || c.LastName as name,
    sum(i.Total) as total_spent,
    count(i.InvoiceDate) as n_times_shopped
from customers c
inner join invoices i on c.CustomerId = i.CustomerId
group by name
order by total_spent desc;"""
query(sql)

### Try it yourself!

**Excercise**:

**_Find top 20 artists that sold the most amount of tracks_**

> _Hint:_  
> *1. Both `invoice_items` and `tracks` table have a column named `TrackId`.*  
> _2. Use `GROUP BY` to group rows into subgroups of `Composers`._  
> *3. Each row in `invoice_items` is one sale.*  
> _4. Remove `NULL` values._

In [ ]:
sql = """your code goes here"""
query(sql)

In [ ]:
#@title Answer
sql = """select
t.Composer as artist,
count(ii.InvoiceId) as n_tracks_bought
from invoice_items ii
join tracks t on t.TrackId = ii.TrackId
where t.composer is not null
group by artist
order by n_tracks_bought desc
limit 20;"""
query(sql)

### `LEFT JOIN`

Returns the rows that have matching values in both tables and every row on the left table.

**Syntax:**
```
SELECT t1.column1, t2.column2
FROM table1 t1
LEFT JOIN table2 t2 ON t1.id = t2.id;
```

### `RIGHT JOIN`

Returns the rows that have matching values in both tables and every row on the right table.

**Syntax:**
```
SELECT t1.column1, t2.column2
FROM table1 t1
RIGHT JOIN table2 t2 ON t1.id = t2.id;
```

**Show the least popular artists in the record store**

> _üí° Without using `LEFT JOIN`, we won't be able to see artists with 0 sales. Since only the ones who have sold tracks will have a record in the `invoiceitems` table_

In [33]:
sql = """select
    t.Composer as artist,
    count(ii.InvoiceId) as n_tracks_bought
from tracks t
left join invoice_items ii on t.TrackId = ii.TrackId
where t.composer is not null
group by artist
order by n_tracks_bought asc;"""
query(sql)

### Try it yourself!

**Excercise**:

**_Find the most popular genre and least popular genre in the store_**

> _Hint:_  
> _1.Popularity is based on how many times a track of a genre is bought._  
> *2. `invoice_items` table contains data on the tracks associated with invoices.*  
> _3. `tracks` table has a `GenreId` foreign key from `genres` table, which contains the genre names._  
> _4. Use `GROUP BY` to group rows into subgroups of `Genres`._  
> _5. Be aware of genres that does not have any sales._

In [ ]:
sql = """your code goes here"""
query(sql)

In [ ]:
#@title Answer
sql = """select distinct
  g.Name as genre,
  count(ii.InvoiceId) as n_tracks_bought
from genres g
join tracks t on t.GenreId = g.GenreId
left join invoice_items as ii on t.TrackId = ii.TrackId
group by genre
order by n_tracks_bought desc;"""
query(sql)

### `FULL OUTER JOIN`

Returns the rows that have matching values in both tables and every single row in both tables.

**Syntax:**
```
SELECT t1.column1, t2.column2
FROM table1 t1
FULL OUTER JOIN table2 t2 ON t1.id = t2.id;
```

In [ ]:
# Unfortunately full outer join is not supported in the python sqlite3 library yet

---

## **Resources**

For more information on Sqlite, please visit [SQLite Tutorial](https://www.sqlitetutorial.net/) or [SQLite Documentation](https://www.sqlite.org/docs.html)

---

## **Class Survey**

Directly below is a link to a survey that lets us know how we're doing and any additional feedback you might have. Please take some time to fill out the survey in full so that we can learn how to better serve you.

[**Survey Link**](https://docs.google.com/forms/d/e/1FAIpQLSeRoFsj9kC436jyBuImwv2QToGSYYZDo1SygTEnsQ-k3ozHng/viewform)